/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #cf1ab7bd;
    font-weight: bold;
    overflow-y: auto;
    background: url('background.jpg') center center fixed;
    background-size: cover;
    margin-bottom: 50px;
}

header {
    padding: 1em;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
}

/* Heading styles */
h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #e44d26;
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.8);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f2ff00;
}

/* Product section styles */
section.product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #555;
}

.mouse-image {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.mouse-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    mix-blend-mode: overlay;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.mouse-image:hover::before {
    opacity: 1;
}

.mouse-image:hover {
    transform: scale(1.1);
}

.product-details {
    flex: 1;
    margin-left: 1em;
}

.price {
    font-size: 1.5em;
    color: #e44d26;
    margin-bottom: 1em;
}

.description {
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Footer styles */
footer {
    background-color: #b51313d6;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 0.8em;
}

/* Special offers section styles */
.special-offers {
    position: relative;
    padding: 2em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
}

.special-offers:hover {
    color: #2ecc71;
}

.special-offers:hover::before {
    background: linear-gradient(rgba(46, 204, 113, 0.2), rgba(46, 204, 113, 0.2));
}

.special-offers::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.special-offers-content {
    position: relative;
    z-index: 1;
}

/* Image gallery styles */
.image-gallery {
    padding: 2em;
    text-align: center;
    color: #fff;
}

.slider {
    display: flex;
    justify-content: space-around;
}

.slider img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    border: 2px solid rgba(0, 143, 204, 0.8);
}

.slider img:hover {
    transform: scale(1.1);
}

/* Customer reviews styles */
.customer-reviews {
    padding: 2em;
    text-align: center;
    color: #fff;
}

.customer-reviews h3 {
    margin-bottom: 1em;
}

.average-rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-stars {
    font-size: 24px;
    color: #ffd700;
}

.rating-score {
    margin: 0 1em;
    font-size: 1.2em;
}

.review-count {
    font-size: 0.9em;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 1em;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    color: #e44d26;
}

/* Call-to-action and Contact form section styles */
.cta-section,
.contact-form-section {
    background-color: #00000000;
    padding: 2em;
    text-align: center;
    color: #00fff2a1;
}

.contact-form-section h3 {
    font-size: 1.8em;
    color: #00fff2a1;
}

.contact-form-section form {
    display: grid;
    gap: 1em;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #3498db;
}

.contact-form-section input,
.contact-form-section textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.contact-form-section input:focus,
.contact-form-section textarea:focus {
    border-color: #e44d26;
}

.contact-form-section button {
    background-color: #e44d26;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form-section button:hover {
    background-color: #d0411f;
}

.contact-form-section button:active {
    transform: scale(0.95);
}

/* Blog post styles */
.blog-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000b5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.blog-post h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #09da91;
}

.blog-post .publication-date {
    color: #777;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.blog-post p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Footer styles */
footer {
    background-color: #b51313d6;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 0.8em;
}
